In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [170]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1446,tt0449467,25000000,135330182,Babel,Brad Pitt|Cate Blanchett|Gael GarcÃ­a Bernal|R...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,If You Want to be Understood...Listen,Tragedy strikes a married couple on vacation i...,143,Drama,Paramount Vantage|Media Rights Capital|Anonymo...,9/8/2006,6.7,2006
338,tt1013752,85000000,363164265,Fast & Furious,Vin Diesel|Paul Walker|Jordana Brewster|Michel...,Justin Lin,New Model. Original Parts.,"When a crime brings them back to L.A., fugitiv...",107,Action|Crime|Drama|Thriller,Universal Pictures|Original Film|One Race Prod...,4/2/2009,6.4,2009
799,tt1152398,17000000,43165571,Beastly,Alex Pettyfer|Vanessa Hudgens|Mary-Kate Olsen|...,Daniel Barnz,Love is never ugly.,A curse transforms a handsome and arrogant you...,86,Drama|Fantasy|Romance,CBS Films|Mel's Cite du Cinema|Storefront Films,1/21/2011,6.0,2011
148,tt1587310,180000000,758410378,Maleficent,Angelina Jolie|Elle Fanning|Juno Temple|Sharlt...,Robert Stromberg,Don't believe the fairy tale.,The untold story of Disney's most iconic villa...,97,Fantasy|Adventure|Action|Family|Romance,Walt Disney Pictures|Roth Films,5/28/2014,7.0,2014
819,tt1033575,20000000,177243185,The Descendants,George Clooney|Shailene Woodley|Amara Miller|N...,Alexander Payne,The South Pacific ain't that terrific.,With his wife Elizabeth on life support after ...,115,Comedy|Drama,Fox Searchlight Pictures|Dune Entertainment|Ad...,9/9/2011,6.6,2011

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [171]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
'''Добавляем в датафрейм столбец с прибылью'''
data['profit'] = data.revenue - data.budget

'''Преобразуем столбец с жанрами'''
data['genres_column'] = data.genres.apply(lambda s: str(s).split('|'))
#запишем полученный результат в отдельный столбец

'''Преобразуем столбец с актёрами'''
data.cast = data.cast.apply(lambda s: str(s).split('|'))

'''Преобразуем столбец с именами режиссёров'''
data['directors_column'] = data.director.apply(lambda s: str(s).split('|'))
#запишем полученный результат в отдельный столбец

'''Преобразуем столбец с датой выхода фильма'''
#дата в формате месяц/день/год, преобразуем дату в список
data.release_date = data.release_date.apply(lambda s: str(s).split('/'))
#присвоим названия месяцам в соотвествии с его порядковым номером 
def month(date):
    if date[0] == '1':
        return 'январь'
    elif date[0] == '2':
        return 'февраль'
    elif date[0] == '3':
        return 'март'
    elif date[0] == '4':
        return 'апрель'
    elif date[0] == '5':
        return 'май'
    elif date[0] == '6':
        return 'июнь'
    elif date[0] == '7':
        return 'июль'
    elif date[0] == '8':
        return 'август'
    elif date[0] == '9':
        return 'сентябрь'
    elif date[0] == '10':
        return 'октябрь'
    elif date[0] == '11':
        return 'ноябрь'
    elif date[0] == '12':
        return 'декабрь'
data['month_name'] = data.release_date.apply(month) 
#заносим полученный результат в отдельный столбец

'''Считаем длину названий фильмов по количеству символов'''
data['title_length'] = data.original_title.apply(lambda x: len(str(x)))

'''Считаем длину описаний фильмов по количеству слов'''
data['overviews_length'] = data.overview.apply(
    lambda s: len(str(s).split(' ')))

'''Составляем список компаний'''
companies = data['production_companies'].str.split('|').explode().unique()

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [172]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [107]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_column,directors_column,month_name,title_length,overviews_length
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,"[5, 11, 2011]",6.3,2011,641683000,"[Adventure, Action, Fantasy]",[Rob Marshall],май,43,75

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
data.sort_values(['budget'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month_name
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]",Walt Disney Pictures|Jerry Bruckheimer Films|M...,"[5, 11, 2011]",6.3,2011,641683000,май

# 2. Какой из фильмов самый длительный (в минутах)?

In [173]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [9]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month_name
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]",Turner Pictures|Antietam Filmworks,"[2, 21, 2003]",5.8,2003,-43076064,февраль

# 3. Какой из фильмов самый короткий (в минутах)?

In [174]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_column,directors_column,month_name,title_length,overviews_length
768,tt1449283,30000000,14460000,Winnie the Pooh,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...",Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,"[4, 13, 2011]",6.8,2011,-15540000,"[Animation, Family]","[Stephen Anderson, Don Hall]",апрель,15,52

# 4. Какова средняя длительность фильмов?

In [175]:
answers['4'] = '110'

round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [176]:
answers['5'] = '107'

data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [177]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '239. Avatar (tt0499549)'

data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_column,directors_column,month_name,title_length,overviews_length
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,"[12, 10, 2009]",7.1,2009,2544505847,"[Action, Adventure, Fantasy, Science Fiction]",[James Cameron],декабрь,6,28

# 7. Какой фильм самый убыточный?

In [178]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_column,directors_column,month_name,title_length,overviews_length
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,"[7, 3, 2013]",6.0,2013,-165710090,"[Action, Adventure, Western]",[Gore Verbinski],июль,15,68

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [179]:
answers['8'] = '1478'

data[data.revenue > data.budget]['original_title'].count()
# считаем по оригинальным названиям фильмов

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [180]:
answers['9'] = '599. The Dark Knight (tt0468569)'

data[data.release_year==2008].sort_values(['profit'],ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_column,directors_column,month_name,title_length,overviews_length
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,"[7, 16, 2008]",8.1,2008,816921825,"[Drama, Action, Crime, Thriller]",[Christopher Nolan],июль,15,67

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [181]:
answers['10'] = '1245 The Lone Ranger (tt1210819)'

data[(data.release_year<=2014)&
     (data.release_year>=2012)].sort_values(['profit'],ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_column,directors_column,month_name,title_length,overviews_length
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,"[7, 3, 2013]",6.0,2013,-165710090,"[Action, Adventure, Western]",[Gore Verbinski],июль,15,68

# 11. Какого жанра фильмов больше всего?

In [182]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты

Counter(data.genres_column.sum()).most_common(1)
#список жанров берём из обработанного столбца
answers['11'] = 'Drama'

ВАРИАНТ 2

In [52]:
Counter(data.genres_column.explode()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [183]:
answers['12'] = 'Drama'

Counter(data[data.profit>0].genres_column.sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [184]:
answers['13'] = 'Peter Jackson'

data.groupby(['director'])['revenue'].sum().sort_values(
    ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [185]:
answers['14'] = 'Robert Rodriguez'

#создаём датафрейм в котором только фильмы жанра Action 
action_movies = data[data.genres.str.contains('Action',na=False)]
#Считаем режиссёров
Counter(df['directors_column'].sum()).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [186]:
answers['15'] = 'Chris Hemsworth'
#ищем фильм 2012-го года с самыми высокими кассовыми сборами
movie_2012 = data[data.release_year == 2012].sort_values(
    ['revenue'],ascending=False).head(1)
Counter(movie_2012.cast.explode()).most_common(5)

[('Robert Downey Jr.', 1),
 ('Chris Evans', 1),
 ('Mark Ruffalo', 1),
 ('Chris Hemsworth', 1),
 ('Scarlett Johansson', 1)]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [187]:
answers['16'] = 'Matt Damon'
#создаём датафрейм, в котором фильмы с бюджетом выше среднего
high_budget = data[data.budget>data.budget.mean()]
#считаем актёров
Counter(high_budget.cast.sum()).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [188]:
answers['17'] = 'Action'
#создаём датафрейм, в котором только фильмыБ в которых снимался Nicolas Cage
cage_movies = data[data.cast.apply(
    lambda x: True if 'Nicolas Cage' in x else False)]
Counter(cage_movies.genres_column.explode()).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [189]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'
#создаём датафрейм с фильмами компании Paramount Pictures
paramount_movies = data[data.production_companies.str.contains(
'Paramount Pictures',na=False)]
#сортируем по прибыли
paramount_movies.sort_values(['profit'], ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_column,directors_column,month_name,title_length,overviews_length
925,tt0267626,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,"[7, 19, 2002]",6.0,2002,-64831034,"[Thriller, Drama, History]",[Kathryn Bigelow],июль,20,23

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [190]:
answers['19'] = '2015'
#выполняем группировку по году и сортируем по сборам
data.groupby(['release_year'])['revenue'].sum().sort_values(
ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [191]:
answers['20'] = '2014'
#создаём датафрейм с фильмами Warner Bros
warner_movies=data[data.production_companies.str.contains(
    'Warner Bros', na=False)]
#выполняем группировку по году и сортируем по прибыли
warner_movies.groupby(['release_year'])['profit'].sum().sort_values(
    ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [192]:
answers['21'] = 'сентябрь'
#группируем по названию месяца и считаем по оригинальным названиям
data.groupby(['month_name'])['original_title'].count().sort_values(
ascending=False).head(1)

month_name
сентябрь    227
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [193]:
answers['22'] = '450'

data[(data.month_name == 'июнь')|(data.month_name == 'июль')|
     (data.month_name == 'август')].original_title.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [194]:
answers['23'] = 'Peter Jackson'
#создаём датафрейм с фильмами, выпущенными в три зимних месяца
winter_movies = data[(data.month_name == 'декабрь')|
                     (data.month_name == 'январь')|
                     (data.month_name == 'февраль')]
#считаем режиссёров
Counter(winter_movies.directors_column.explode()).most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [195]:
answers['24'] = 'Four by Two Production'
#находим фильм с самым длинным названием по количеству символов
max_len = pd.Series(dtype='float64', index=companies)
#для каждой компании из списка ищем максимальную длину названия
for comp in companies:
    max_len[comp] = data['title_length'][data['production_companies'].map(
    lambda x: True if comp in x else False)].max()
max_len.sort_values(ascending=False).head(5)

Twentieth Century Fox Film Corporation    83.0
Four By Two Productions                   83.0
Twentieth Century Fox                     83.0
Walden Media                              62.0
Walt Disney                               62.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [196]:
answers['25'] = 'Midnight Picture Show'

mean_len = pd.Series(dtype='float64', index=companies)
#для каждой компании определяем среднюю длину описания
for comp in companies:
    mean_len[comp] = data['overviews_length'][data['production_companies'].map(
    lambda x: True if comp in x else False)].mean()
mean_len.sort_values(ascending=False).head(1)

Midnight Picture Show    175.0
dtype: float64

In [65]:
data.groupby(['production_companies'])['overviews_length'].mean().sort_values(
ascending=False).head(1)

production_companies
Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show    175.0
Name: overviews_length, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [197]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
#считаем количество фильмов, имеющих рейтинг выше среднего
top_rating = data[
    data.vote_average>=data.vote_average.mean()]['original_title'].count()
#с рейтигом выше среднего 931 фильм. возьмём 1% (9.31), округлив до 10
one_percent = int(round((top_rating*0.01),-1))
data[data.vote_average>=data.vote_average.mean()].sort_values(
    ['vote_average'],ascending=False).head(one_percent)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_column,directors_column,month_name,title_length,overviews_length
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,"[7, 16, 2008]",8.1,2008,816921825,"[Drama, Action, Crime, Thriller]",[Christopher Nolan],июль,15,67
34,tt3170832,6000000,35401758,Room,"[Brie Larson, Jacob Tremblay, Joan Allen, Sean...",Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,"[10, 16, 2015]",8.0,2015,29401758,"[Drama, Thriller]",[Lenny Abrahamson],октябрь,4,49
118,tt0816692,165000000,621752480,Interstellar,"[Matthew McConaughey, Jessica Chastain, Anne H...",Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,"[11, 5, 2014]",8.0,2014,456752480,"[Adventure, Drama, Science Fiction]",[Christopher Nolan],ноябрь,12,35
125,tt2084970,14000000,233555708,The Imitation Game,"[Benedict Cumberbatch, Keira Knightley, Matthe...",Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,"[11, 14, 2014]",8.0,2014,219555708,"[History, Drama, Thriller, War]",[Morten Tyldum],ноябрь,18,46
9,tt2096673,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,"[6, 9, 2015]",8.0,2015,678708609,"[Comedy, Animation, Family]",[Pete Docter],июнь,10,112
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,"[12, 1, 2003]",7.9,2003,1024888979,"[Adventure, Fantasy, Action]",[Peter Jackson],декабрь,45,45
1800,tt0209144,9000000,39723096,Memento,"[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...",Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,"[10, 11, 2000]",7.9,2000,30723096,"[Mystery, Thriller]",[Christopher Nolan],октябрь,7,78
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,"[Ralph Fiennes, Tony Revolori, F. Murray Abrah...",Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,"[2, 26, 2014]",7.9,2014,144600318,"[Comedy, Drama]",[Wes Anderson],февраль,24,66
128,tt2267998,61000000,369330363,Gone Girl,"[Ben Affleck, Rosamund Pike, Carrie Coon, Neil...",David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,"[10, 1, 2014]",7.9,2014,308330363,"[Mystery, Thriller, Drama]",[David Fincher],октябрь,9,30
1191,tt2024544,20000000,187000000,12 Years a Slave,"[Chiwetel Ejiofor, Michael Fassbender, Lupita ...",Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,"[10, 18, 2013]",7.9,2013,167000000,"[Drama, History]",[Steve McQueen],октябрь,16,61

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [198]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'
from itertools import combinations
#записываем пары актёров в отдельный столбец
data['cast_pairs'] = data.cast.apply(lambda x: list(combinations(x,2)))
#считаем совпадения
Counter(data.cast_pairs.sum()).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [199]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245 The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four by Two Production',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [200]:
# и убедиться что ни чего не пропустил)
len(answers)

27